{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Edit {{movie.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="{{ url_for('editMovie',movie_id = movie.id)}}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" value="{{ movie.title }}">

                <label for="storyline">Storyline:</label>
                <input type="text" class="form-control" name="storyline" value="{{ movie.storyline }}">

                <label for="poster_image_url">Poster URL:</label>
				<input type="text" class="form-control" name="poster_image_url" value="{{ movie.poster_image_url }}"> 

				<label for="trailer_youtube_url">Poster URL:</label>
				<input type="text" class="form-control" name="trailer_youtube_url" value="{{ movie.trailer_youtube_url }}">

                <label for="genre">Genre:</label>
				<select name="genre">
					{% for g in genres %}
					<option value="{{ g.name }}">{{ g.name }}</option>
					{% endfor %}
				</select>

                <div class="padding-bottom"></div>
                <button type="submit" class="btn btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
                <a href='{{url_for('showMovies')}}'>
                    <button class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}