{% extends "main.html" %}
{% block header %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header header-color">
		<div class="mdl-layout__header-row">

			<!-- Title -->
			<a href="{{url_for('showMovies')}}" class="mdl-color-text--white page-title"><span class="mdl-layout-title">Movies
					Catalog</span></a>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">

				{% for g in genres %}
				<a class="mdl-navigation__link" href="{{url_for('showMoviesByGenre', genre_name=g.name)}}">{{g.name}}</a>
				{% endfor %}
				<!-- Colored raised button -->
				<!-- <button id="googleSignInCustom" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--white login-button-color signInButton">Login</button>
				<button id="logout_button1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--white login-button-color">Logout</button> -->
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title signOutButtonTitle">Account</span>
		<nav class="mdl-navigation" id="user_info">
			<div>
				{% if login_session['username'] %}
				<a class="mdl-navigation__link padding-user-info">
					<img id="userImg" class="circle" width="50" height="50" src="{{ login_session['picture'] }}">
					<span id="userName" class="userName">{{ login_session['name'] }}</span>
					<p id="userEmail" class="userEmail">{{ login_session['email'] }}</p>
				</a>
				<a id="logout_button" class="mdl-navigation__link" href="{{url_for('glogout')}}">Logout</a>
				{% else %}
				<a id="login_button" class="mdl-navigation__link" href="{{url_for('showLogin')}}">Login</a>
				{% endif %}
			</div>
		</nav>
		<span class="mdl-layout-title">Genres</span>
		<nav class="mdl-navigation">
			{% for g in genres %}
			<a class="mdl-navigation__link" href="{{url_for('showMoviesByGenre', genre_name=g.name)}}">{{g.name}}</a>
			{% endfor %}
		</nav>
	</div>
	<main class="mdl-layout__content">
		<div class="page-content">

			<!--all content will go here-->
			{% block content %}
			{% endblock %}
			{% if login_session['username'] %}
			<!-- Colored FAB button with ripple -->
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-button add-button-color"
			 id="add-button" onclick="location.href='{{url_for('newMovie')}}'">
				<i class="material-icons">add</i>
			</button>
			<div class="mdl-tooltip" data-mdl-for="add-button"><strong>Add Movie</strong></div>
			{% endif %}

		</div>
	</main>
</div>
{% endblock %}