{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="mdl-grid">
	{% for movie in movies %}

	<div class="demo-card-wide mdl-card mdl-shadow--8dp">

		<div class="mdl-card__title brighten" title="{{movie.title}}" style="background: url('{{ movie.poster_image_url }}') center / cover;">
			<a href="{{url_for('showMovie', movie_id = movie.id)}}"></a>
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<a href="{{url_for('showMovie', movie_id = movie.id)}}" title="{{ movie.title }}" tabindex="-1" class="link-fade">
				<span>{{ movie.title }}</span><span class="span-fade"></span></a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}