{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ movie.title }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
		</h1>
	</div>
</div>
<div class="row padding-top padding-bottom">
	<div class="col-md-1"></div>
	<div class="col-md-11 padding-none">

	</div>
	<div class="col-md-7"></div>
</div>
<div class="row">
	<div class="col-md-12">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
</div>
<div class="col-md-6 col-lg-4  text-center" data-trailer-youtube-id="{trailer_youtube_id}" data-toggle="modal" data-target="#trailer">
	<h3>{{ movie.title }}</h3>
	<h3>Plot: {{ movie.storyline }}</h3>
	<h3>Genre: {{ movie.genre.name }}</h3>
	<img src="{{ movie.poster_image_url }}" width="220" height="342">
	<h2>{{ movie.title }}</h2>
</div>
{% endblock %}